.loginContainer{
    width:400px;
    border-radius: 20px;
    background-color: #F9EBE4;
}
.background-img{
    background-image:url('/src/assets/login-pic.jpg');
    height: 80vh;
    width: 50vw;
    background-size:cover;
    background-repeat: no-repeat;
}
.second-side{
    width: 50vw;
}
